#header{
    display: flex;
    align-items: center;
    gap: 10px;
    height: 30rem;
}

#image, #text{
    height: auto;
    flex: 1;
    min-width: 0;
}

#text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: olivedrab;
    color: white;
}

#image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: saturate(.1);
}

