
*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --beige: #f8f5e2;
    --red: #640a10;
}

.header-img{
  width: 100%;
  height: 90vh;
background-image: url("https://i.pinimg.com/1200x/3f/33/ce/3f33cec37c65f57aea7b5c09e0ccdf9e.jpg");
background-size: cover;     
  background-position: center;   
  background-repeat: no-repeat;  
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  justify-content: center;

}


.header-img p{
    width: 60vw;
    color: var(--beige);
    font-size: 1rem;
    line-height: 2.5rem;
    background-color: rgba(0, 0, 0, 0.434);
}
.header-img h1{
    color: var(--beige);
    font-size: 9rem;
    text-align: center;
    font-weight: 400;
}

/*main*/

#intro{
    background-color: black;
    display: flex;
    flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8rem;
  gap: 6rem;
  text-align:center;
  color: whitesmoke;
  height: 100vh;
}

#intro h1{
    font-size: 5rem;
    transition: all 0.4s ease-in-out;
    font-family: "Bradley Hand", cursive;
}

#intro :hover{
    /*transform: translateX(2rem);*/
    color: rgb(122, 39, 39);
}

#intro p{
    font-size: 1.5rem;
    font-family: "Bradley Hand", cursive;
    transition: all 0.4s ease-in-out;
}

.question{
    display: flex;
    flex-direction: column;
}

.question h2{
    background-color: var(--red);
    padding: 2rem;
    font-size: 1rem;
    text-align: center;
    color: var(--beige);
    font-weight: 400;
    letter-spacing: 1.5px;
}

.response{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    background-color: var(--beige);
    color: var(--red);
    padding: 8rem 2rem;
}

.response p{
    font-size: 1rem;
    line-height: 2rem;
    text-align: center;
    padding: 2rem;
}

.response img{
    width: 100%;
    max-width: 300px;
    aspect-ratio: 1;
    object-fit: cover;
}

/*logical*/

#l-intro{
    background-color: black;
    display: flex;
    flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8rem;
  gap: 6rem;
  text-align:center;
  color: whitesmoke;
   height: 100vh;
}

#l-intro h1{
    font-size: 5rem;
    transition: all 0.4s ease-in-out;
    font-family: 'Courier New', Courier, monospace
}

#l-intro :hover{
    /*transform: translateX(2rem);*/
    color: rgb(122, 39, 39);
}

#l-intro p{
    font-size: 1.5rem;
    font-family: 'Courier New', Courier, monospace;
    transition: all ease-in-out 0.3s;
}

@media (max-width: 768px){
    .response{
        grid-template-columns: 1fr;
        padding: 4rem 1.5rem;
    }
}

