*{

}

body{
    background-color: #353839;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-family: "Marcellus", serif;
    letter-spacing: 2px;
}

#logo{
    width: 100%;
    display: flex;
     align-items: center;
    justify-content: center;
}

h1{
    font-size: 4rem;
    line-height: 5rem;
    font-weight: bold;
}

.subsection{
    padding: 1rem;
    transition: 0.3s all ease-in;
    border-radius: 50px;
}

.subsection:hover{
    background-color:#d8f2fe;
    color: #353839;
}

