body{
    background-color: #353839;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-family: "Marcellus", serif;
    letter-spacing: 2px;
    background-color: #4a4239;
}

h1{
    color: #FDFBD4;
    font-size: 6rem;
    letter-spacing: 1rem;
    text-align: center;
    transition: 0.2s all ease-in-out;
    padding: 1rem;
}

h1:hover{
    border-bottom: 3px solid #d8f2fe;
}

h2{
    font-size: xx-large;
    color:#d8f2fe;
    font-weight: bold;
    font-style: oblique;
}

.section{
    text-align: center;
}

.subsection p{
    font-size: smaller;
}

table{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
