body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-image: url(https://images.editor.website/uploads/b/4f971f80-6b67-11ea-87d2-a768189391fb/blue-cube.png?width=400);
    background-size: 80% auto;    /*makes height adjust with width */
    background-repeat: no-repeat; 
    background-position: center;  
    background-color: rgb(226, 215, 200);
    min-height: 100vh;
    text-transform: lowercase;
}

.section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 2rem;
    width: 90%;
    font-family: "Marcellus", serif;
    transition: all 0.1s ease-in-out;
}

.section:hover{
    border: 3px solid rgb(56, 49, 49);
}

h1{
    font-weight: bolder;
    font-size: 2rem;
    letter-spacing: .3rem;
}

#logo{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

#logo img{
   max-width: 300px;
   height: auto;
}

summary{
    font-size: x-large;
    transition: all 0.3s ease-in-out;
}

summary:hover{
    text-transform: capitalize;
    color: rgb(40, 89, 127);
    transform: scale(1.5);
    padding: 1.5rem;
}

li{
    font-size: large;
}

#brew{
background-color: rgba(160, 144, 130, 0.919);
border-radius: 30px;
}

#espresso{
background-color: rgba(160, 144, 130, 0.919);
border-radius: 30px;
}

#food{
background-color: rgba(160, 144, 130, 0.919);
border-radius: 30px;
}

#contact-info{
background-color: rgba(68, 147, 211, 0.574);
border-radius: 30px;
}

#ready{
background-color: rgba(160, 144, 130, 0.919);
border-radius: 30px; 
}

