
*{
    margin: 0;
    padding: 0;
}
main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    font-family: "Open Sans", sans-serif;
    background-color:lightblue;
}
.section{
    background-color: seashell;
    padding: 1rem;
}

.subsection{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

#navbar{
    display: flex;
    font-family: "Open Sans", sans-serif;
    background: lightblue;
    padding: 1rem;
    align-items: center;
    gap: 1rem;
}

.links{
    display: flex;
    gap: 1rem;
}

.links a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-align: center;
    padding: 1rem;
    transition: 0.3s all ease-in-out;
}

.links a:hover{
    background-color: whitesmoke;
}

h1{
    background-color: black;
    color: seashell;
    text-align: center;
    padding: 0.5rem;
}

table{
    border: 2px solid rgb(0, 0, 0);
}

th, td{
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}