*{
    margin: 0;
}

body{
    padding: 3rem;
    background-color: antiquewhite;
    font-family: "Open Sans", sans-serif;
    color: #313131;
    letter-spacing: 1px;
}

#logo{
    background-color: #313131;
    border-radius: 100%;
    padding: 1rem;
}

#navbar{
    display: flex;
    font-family: "Open Sans", sans-serif;
    align-items: center;
    gap: 1rem;
    width: 100%;
    padding-bottom: 1rem;
    
}

.links{
    display: flex;
    gap: 1rem;
}

.links a{
    text-decoration: none;
    color: #313131;
    font-weight: bold;
    text-align: center;
    padding: 1rem;
    transition: 0.3s all ease-in-out;
}

.links a:hover{
    background-color: lightblue;
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
    background-color: antiquewhite;
    width: 100%;
   align-items: center;
    justify-items: center;
}

#ready{
    grid-column: 1/3;
}

#espresso{
grid-column: 1/3;
}

.section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
    background-color: lightblue;
    padding: 1rem;
    width: 100%;
    max-width: 800px;
    height: auto;
    border-radius: 60px;
    font-weight: 200;
    transition: 0.3s all ease-in-out;
}

.subsection{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1rem;
    gap: 0.5rem;
    padding: 1rem;
    align-items: center;
    justify-items: center;
}

.section:hover{
    background-color: rgba(173, 216, 230, 0.738);
}

#contact-info{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    grid-column: 1 / -1;
}

/*text*/

h1{
    font-size: 6rem;
    padding: 0.5rem;
}