*{
    margin: 0;
}

body{
    width: 100%;
    font-family: "Roboto Condensed", sans-serif;
}

h1{
    font-size: 2rem;
}

:root{
    --dark-brown: #3D2412;
    --blue: #0083a9;
    --beige: #f2edda;
}

header{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: beige;
    background-color: var(--dark-brown);
    padding: 1rem;
}

header #top{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#bottom h1{
    font-size: 3rem;
}

#top #logo{
    width: 5%;
    max-width: 100%;
    height: auto;
}

#links ul{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    list-style-type: none;
    padding-left: 0; 
    margin: 0;
    text-align: center;
}

#links a{
    transition: all 0.2s ease-in;
}

#links a:hover{
    color: var(--blue);
}

#links ul a{
  text-decoration: none;
  color: var(--beige);
}

header #bottom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

/*ready*/

#ready{
    padding: 6rem;
    background-color: var(--beige);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    height: auto;
    color: var(--dark-brown);
}

#ready .subsection{
    display: flex;
    flex-direction: row;
    gap: 5rem;
    color: var(--dark-brown);
     flex-wrap: wrap;
}

#ready table{
    border-collapse: collapse;
    font-size: 1rem;
    text-align: center;
}

tr, td{
    border: 3px solid #23150a;
    padding: 1rem;
    font-size: 1.3rem;
}

th{
    padding: 3rem;
    font-size: 1.5rem;
}

#ready h1{
    font-size: 2rem;
}

#ready h2{
    font-size: 1.5rem;
}

/*break img 1*/

.breakImg{
    /* width:100%; */
    height: 30vh;
    overflow: hidden;
    
}

.breakImg img{
    width: 100%;
    height: 100%;
      object-fit: cover;
      object-position: center;
}


/*brew*/

#brew{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    padding: 3rem;
    text-align: center;
    background-color: var(--blue);
    color: var(--beige);
}

#brew .subsections{
    display: flex;
    gap: 2rem;
}

#brew .subsection{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

#brew .content{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/*espresso*/

#espresso{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    padding: 3rem;
    text-align: center;
    background-color: var(--dark-brown);
    color: var(--beige);
}

#espresso .subsections{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#espresso .subsection{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    border: 4px solid var(--blue);
    box-shadow: 4px solid black;
    border-radius: 30px;
    padding: 1rem;
}

#espresso .content{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/*food*/

#food{
    display: flex;
    flex-direction: column;
    gap: 5rem;
    padding: 4rem;
    color: var(--dark-brown);
}

#food .subsections{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem;
    justify-items: center;
}

#food h1{
    text-align: center;
}

#food img{
    width: 350px;
    height: auto;
    grid-row: 1/3;
    grid-column: 2;
    border-radius: 100%;
    border: 5px solid var(--blue);
}

#food .subsection{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#food .content{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

/*contact*/

#contact-info{
    display: flex;
    justify-content: space-around;
    background-color: var(--dark-brown);
    padding: 1rem;
    color: var(--beige);
}


