*{
    margin: 0;
}

body{
    width: 100%;
    font-family: "Roboto Condensed", sans-serif;
    text-transform: lowercase;
    color: #3D2412;
}

h1{
    font-size: 6rem;
    position: relative;
    display: inline-block;
    padding-bottom: 12px;
}

/*border animation*/
h1::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 10px;
  width: 0;
  background: var(--dark-brown);
  transition: width 0.4s ease;
}

h1:hover::after {
  width: 50%;
}

.section{
    padding: 8rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

#contact-info{
    padding: 2rem 8rem;
    background-color: var(--dark-brown);
    color: var(--beige);
}

#contact-info h1{
    font-size: 3rem;
}

#contact-info .content{
    font-size: 1rem;
}

.subsections{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
}

.subsection{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


h2{
    font-size: 3rem;
    color: #0083a9;
}

.content{
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem
}
:root{
    --dark-brown: #3D2412;
    --blue: #0083a9;
    --beige: #f2edda;
}

header{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: beige;
    background-color: var(--dark-brown);
    padding: 1rem;
}

header #top{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#bottom h1{
    font-size: 3rem;
}

#top #logo{
    width: 5%;
    max-width: 100%;
    height: auto;
}

#links ul{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    list-style-type: none;
    padding-left: 0; 
    margin: 0;
    text-align: center;
}

#links a{
    transition: all 0.2s ease-in;
}

#links a:hover{
    color: var(--blue);
}

#links ul a{
  text-decoration: none;
  color: var(--beige);
}

header #bottom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

/*READY*/

/*break img 1*/

.breakImg{
    /* width:100%; */
    height: 30vh;
    overflow: hidden;
    
}

.breakImg img{
    width: 100%;
    height: 100%;
      object-fit: cover;
      object-position: center;
}


#food img{
    width: 350px;
    height: auto;
    grid-row: 1/3;
    grid-column: 2;
    border-radius: 100%;
    border: 5px solid var(--blue);
}