
/*general*/

*{
    margin: 0;
    font-family: "Roboto Condensed", sans-serif;
    text-transform: lowercase;

}

main{
    padding: 5rem;
    display: flex;
    flex-direction: column;
     justify-content: center;
    align-items: center;
    gap: 8rem;
    background-image: url("https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2b/8d/1c/74/caption.jpg?w=900&h=500&s=1");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

body{
    background-color: #3D2412;
    display: flex;
    flex-direction: column;
   
}


:root{
    --dark-brown: #3D2412;
    --blue: #0083a9;
    --beige: #f2edda;
}

h1{
    font-size: 4rem;
}


.section{
width: 50vw;
  height: 30vh; 
  overflow: hidden;
  background-color: #f0f0f0;
  padding: 1rem;
  transition: height 0.3s ease; 
  border: 1px solid #ccc;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  text-align: center;
   padding: 3rem;
   border-radius: 30px;
transform: scale(0.9);
  transition: transform 0.3s ease, opacity 0.3s ease;
}


.subsections{
    display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: space-around;
  font-size: 1.2rem;
  
}

.subsection{
    display: flex;
  flex-direction: column;
  gap: 1rem;
}

h2{
    font-size: 2rem;
}

.content{
display: flex;
  flex-direction: column;
  gap: 1rem;
}

.section .content,
.section h2,
.section table {
  opacity: 0;
  transition: opacity 0.3s ease; /* fade in/out over 0.3 seconds */
}

.section:hover {
  height: fit-content;
  background-color: var(--beige);
}

.section:hover .content,
.section:hover h2,
.section:hover table {
  opacity: 1;
}




/*header stuff */

header{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: beige;
    background-color: var(--dark-brown);
    padding: 1rem;
}

header #top{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#bottom h1{
    font-size: 3rem;
}

#top #logo{
  display: flex;
  gap: 10px;
    width: 10%;
    max-width: 100%;
    height: auto;
}

#logo-img{
  width: 40%;
  height: 40%;
}

#links ul{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    list-style-type: none;
    padding-left: 0; 
    margin: 0;
    text-align: center;
}

#links a{
    transition: all 0.2s ease-in;
}

#links a:hover{
    color: var(--blue);
}

#links ul a{
  text-decoration: none;
  color: var(--beige);
}

header #bottom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

/*ready*/



table {
  width: 100%;
  border-collapse: collapse; /* removes double borders */
}

th, td {
  padding: 10px 12px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

th {
  background: #f3f3f3;
  font-weight: 600;
}

tr:hover {
  background: #f7f7f7; /* subtle hover effect */
}



/*contact*/
#contact-info{
    background-color: var(--dark-brown);
    color: var(--beige);
    padding: 1rem;
   
}

#contact-info h1{
    font-size: 3rem;
}

#contact-info .content{
    font-size: 1rem;
}
