
/*general*/

*{
    margin: 0;
}

main{
    padding: 5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

body{
    
}


:root{
    --dark-brown: #3D2412;
    --blue: #0083a9;
    --beige: #f2edda;
}

.section{
width: 300px;
  height: 50px; 
  overflow: hidden;
  background-color: #f0f0f0;
  padding: 10px;
  transition: height 0.3s ease; 
  border: 1px solid #ccc;
  cursor: pointer;
  transition: all 0.5s ease;
}

.section .content, .section h2, .section table {
  opacity: 0;
}

.section:hover {
  height: fit-content; 
}

.section:hover .content, .section h2, .section table  {
  opacity: 1;
}



/*header stuff */

header{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: beige;
    background-color: var(--dark-brown);
    padding: 1rem;
}

header #top{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#bottom h1{
    font-size: 3rem;
}

#top #logo{
    width: 5%;
    max-width: 100%;
    height: auto;
}

#links ul{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    list-style-type: none;
    padding-left: 0; 
    margin: 0;
    text-align: center;
}

#links a{
    transition: all 0.2s ease-in;
}

#links a:hover{
    color: var(--blue);
}

#links ul a{
  text-decoration: none;
  color: var(--beige);
}

header #bottom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

/*contact*/
#contact-info{
    background-color: var(--dark-brown);
    color: var(--beige);
   
}

#contact-info h1{
    font-size: 3rem;
}

#contact-info .content{
    font-size: 1rem;
}
