*{
    margin: 0;
    text-transform: lowercase;
}

:root{
    --dark-brown: #3D2412;
    --blue: #0083a9;
    --beige: #f2edda;
    --off-white: #F2F0EF;
}

main{
     letter-spacing: 2px;
     background-color: #F2F0EF;
}

h1{
    font-size: 3rem;
    padding: 1rem;
    background-color: var(--dark-brown);
    color: var(--off-white);
    border: 7px solid var(--blue);
}


h2{
    font-size: 2rem;
    color: #3D2412;
}

h2::after{
    content: "";
  display: block;
  width: 50px;
  border-bottom: 4px solid var(--dark-brown);
  margin-top: 6px;
  transition: 0.5s ease-in-out ;
}

h2:hover::after{
    width: 110px;
    border-bottom: 4px solid var(--blue);
}

section{
    padding: 5rem;
}

/*header stuff */

header{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: #F2F0EF;
    background-color: var(--dark-brown);
    padding: 1rem;
}

header #top{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
#bottom h1{
    font-size: 3rem;
}

#top #logo{
  display: flex;
  align-items: center;
  gap: 10px;
    width: 10%;
    max-width: 100%;
    height: auto;
}

#logo-img{
  width: 40%;
  height: 40%;
}

#links ul{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    list-style-type: none;
    padding-left: 0; 
    margin: 0;
    text-align: center;
}

#links a{
    transition: all 0.2s ease-in;
}

#links a:hover{
    color: var(--blue);
}

#links ul a{
  text-decoration: none;
  color: var(--beige);
}

header #bottom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}


/*ready stuff*/

#ready{
   display: grid;
   grid-template-columns: 1fr 1fr;
   align-items: center;
   justify-items: center;
   gap: 6rem;
}

#ready 

#ready #text{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

 .content{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#subsection{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


table {
  width: 280px;
  border-collapse: collapse;
  background: var(--off-white);
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
  margin: 15px 0;
}

th {
  background: var(--blue);
  color: white;
  padding: 10px;
  font-weight: 600;
}

td {
  padding: 10px;
  text-align: center;
  color: var(--dark-brown);
  border-bottom: 1px solid rgba(61,36,18,0.2);
}

tr:last-child td {
  border-bottom: none;
}

tbody tr:hover {
  background: rgba(0,131,169,0.08);
}


#ready-img img{
    width: 100%;
}

/*brew stuff*/

#brew{
    background-color: var(--beige);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6rem;
}

#brew .subsections{
    display: flex;
    gap: 7rem;
   align-items: flex-start;
   
}

#brew .subsection{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 3rem;
}

.subsection-img{
    width: 30vw;
}

.subsection-img img{
    width: 100%;
}


/*espresso*/

#espresso{
    display: grid;
  grid-template-columns: 1fr 1fr; /* left = images, right = text; note: grid works better for this than flex*/
  align-items: center;
  gap: 15rem;

}

#espresso-images{
    display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap:10px;
}

#espresso-images img{
    width: 100%;
    aspect-ratio: 1 / 1;  
  object-fit: cover;
}

#img-1{
    grid-column: 1/3;
}

#img-2{
   aspect-ratio: auto;   
  width: 100%;
  height: 100%;        
  object-fit: cover;
}

#espresso-text{
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

#espresso .subsection{
     display: flex;
    flex-direction: column;
    gap: 1rem;
}

#espresso-subsection .content{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}



#espresso .subsections{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

/*food*/
#food {
  position: relative;
  background-image: url("https://theamericanclassic.org/wp-content/uploads/2013/12/blueprint_coffee_14_watermarked.jpg");
  background-size: cover;     
  background-position: center; 
  background-repeat: no-repeat;
  padding: 4rem 2rem;
}


#food::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.25); 
}


#food-container {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8rem;
  position: relative;
  width: 100%;
  margin: 0 auto;
  color: var(--beige);
}



#food-container .subsections{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#food .subsection{
    display: flex;
    flex-direction: column;
    background-color: var(--beige);
    padding: 3rem;
    color: var(--dark-brown);
    gap: 2rem;
}



/*media query*/

@media (max-width: 768px) {
  #espresso {
    grid-template-columns: 1fr; 
  }

  #espresso-images {
    grid-template-columns: 1fr; 
  }

  #img-1, #img-2 {
    grid-column: auto;
    grid-row: auto; 
  }
}



