*{
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(151, 166, 252);
    padding: 1rem;
}

ol{
     display: flex;
    flex-direction: column;
    gap: 1rem;
}

a{
    color: black;
}

h3{
    background-color: rgb(15, 33, 67);
    padding: 1rem;
    color: white;
}